*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#f4f4f4;
}

/* Header */

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#0f172a;
    padding:20px 100px;
}

.logo{
    color:white;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:25px;
}

nav a:hover{
    color:skyblue;
}

/* Hero */

.hero{
    display:flex;
    justify-content:space-around;
    align-items:center;
    padding:80px;
    background:#1e293b;
}

.hero-content{
    width:45%;
}

.hero-content h1{
    color:white;
    font-size:50px;
}

.hero-content p{
    color:white;
    margin-top:20px;
    line-height:1.8;
}

button{
    margin-top:25px;
    padding:15px 30px;
    border:none;
    background:#3b82f6;
    color:white;
    border-radius:10px;
    cursor:pointer;
}

.hero-image img{
    width:350px;
}

/* Courses */

.courses{
    padding:80px;
    text-align:center;
}

.course-container{
    display:flex;
    justify-content:center;
    gap:30px;
    margin-top:40px;
}

.card{
    background:white;
    width:300px;
    padding:30px;
    border-radius:15px;
    box-shadow:0 0 10px gray;
}

/* Features */

.features{
    background:white;
    padding:80px;
    text-align:center;
}

.feature-container{
    display:flex;
    justify-content:center;
    gap:30px;
    margin-top:40px;
}

.feature{
    width:300px;
}

/* Reviews */

.reviews{
    padding:80px;
    text-align:center;
}

.review-box{
    width:600px;
    margin:auto;
    background:white;
    padding:30px;
    border-radius:15px;
    box-shadow:0 0 10px gray;
}

/* Contact */

.contact{
    background:#1e293b;
    color:white;
    text-align:center;
    padding:80px;
}

/* Footer */

footer{
    background:#0f172a;
    color:white;
    text-align:center;
    padding:20px;
}